.work-sans-front {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared syles */
.disply-flex {
  display: flex;
}
.orange-lit {
  color: #ff900e;
}
.text-drak1 {
  color: #131313;
}
.text-drak2 {
  color: #424242;
}
.text-drak3 {
  color: #727272;
}

.container{
  width: 1140px;
  margin: 0px auto;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-pirmary {
  background-color: #ff900e;
  color: white;
  font-weight: 600px;
  font-size: 20px;
  border-radius: 8px;
  width: 180px;
  height: 64px;
  border: none;
}
main > section {
  margin-top: 130px;
}

/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: bold;
  font-size: 3rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 400px;
  font-size: 18px;
}


/* Banner style */
.banner-content {
  max-width: 850px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700px;
  font-size: 4rem;
}
.banner-img {
  width: 1140px;
  min-width: 100%;
  border-radius: 8px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
.teams {
  gap: 2rem;
  align-items: center;
}

.our-featurs{
    margin-left: 1rem;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  .nav-links,
  .navbar {
    flex-direction: column;
  }
}
